body{
    background: white;
}

header{
    height: 100%;
    width: 100%;
    background:url('../img/blue_sky.jpg'); 
    background-repeat: no-repeat;
    
}

footer{
    height: 200px;
    width: 100%;
    background:url('../img/footer.jpg'); 
    background-repeat: no-repeat;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
  
.carousel-content {
  position: absolute;
  bottom: 10%;
  left: 5%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.btn-responsive {
    white-space: normal !important;
    word-wrap: break-word;
}

.btn-min-block {
    max-width: 100%;
    line-height: 26px;
}

.btn-theme {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 15px;
}

.btn-theme:hover {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}

span {
    margin-left:20px;
}

.judul{
    margin-left: 20px;
}
.col1{
    background: green;

}

.col2{
    background: blue;

}

.col3{
    background: yellow;

}

.col4{
    background: gray;

}